.book-item {
    /* min-width: 30%; */
    width: 250px;
    max-width: 250px;
    height: 400px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    overflow: hidden;
    position: relative;
}
.background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.book-item:hover .background-image {
    transform: scale(1.05);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
.book-item:hover .content {
    display: block;
}
.book-item:hover .book-option-list {
    display: block;
}
.search-bar-image {
    width: 100%;
    height: auto;
}
.search-bar-image:hover {
    width: 100%;
    height: auto;
}
.content,
.book-option-list {
    padding: 5px;
    display: none;
    background-color: white;
    opacity: 0.7;
    width: 100%;
    position: absolute;
    user-select: none;

    /* animation: slideFromBottom 0.5s; */
    /* text-align: center; */
}
.content {
    border-top: 1px solid black;
    bottom: 0;

    animation: slideFromBottom 0.5s;
}
.book-option-list {
    color: var(--text-color);
    height: 3.6rem;
    top: 0;
    font-size: 0.9rem;
    font-weight: bold;
    border-bottom: 1px solid black;

    animation: slideFromTop 0.7s;
    cursor: default;
}
.book-option {
    display: inline-block;
    width: fit-content;
}
.book-option-text,
.book-plus {
    transition: 0.3s ease-in-out;
    /* position: relative; */
}
.book-plus {
    margin-right: 3px;
    font-weight: bold;
}
.book-option-text:hover {
    padding: 0 7px;
    letter-spacing: 1px;
    color: var(--strong-text-color);
}
.book-option:hover .blue {
    color: #4aa7e0;
}
.book-option:hover .red {
    color: #f04d3f;
}
.book-title {
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 1.1rem;
    color: var(--text-color);
}
.book-subtitle {
    font-size: 0.6rem;
    display: flex;
    color: var(--text-color);
    justify-content: space-between;
}
/* .book-plus .blue {
    color: #4aa7e0 !important;
}
.book-plus .red {
    color: #f04d3f !important;
} */

@keyframes slideFromBottom {
    from {
        margin-bottom: -100%;
    }
    to {
        margin-bottom: 0;
    }
}
@keyframes slideFromTop {
    from {
        margin-top: -100%;
    }
    to {
        margin-top: 0;
    }
}
