header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--panel-color);
    padding: 0.5rem 1rem;
    box-shadow: 0px 0px 9px -5px #000000;
    color: var(--text-color);
    margin-bottom: 4vh;
}
.header-title {
    display: flex;
    flex-direction: column;
    background-color: var(--panel-color);
    user-select: none;
}
.header-title span {
    margin-left: 5px;
    background-color: var(--text-color);
    color: var(--panel-color);
    padding: 0rem 0.5rem;
    border-radius: 0.5rem;
}
.site-description {
    margin-top: -0.8rem;
    font-size: 0.6rem;
    letter-spacing: 2.2px;
    white-space: nowrap;
    font-weight: bold;

    /* color: var(--text-color); */
    mix-blend-mode: difference;
    /* color: var(--panel-color); */
    color: rgb(255, 255, 255);
}
.options {
    display: flex;
}
.option {
    font-weight: bold;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    transition: 0.2s ease-in-out;
    white-space: nowrap;
    cursor: pointer;
}
.option:hover {
    transform: scale(1.15);
}
.nav-image {
    height: 1.7rem;
    width: 1.7rem;
    color: var(--text-color);
    /* transform: scale(1.6); */
}
