.book-search-panel {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    justify-content: center; */
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.book-title {
    font-size: 1.1rem;
}
