.user-search-bar {
    height: 2rem;
    border: 2px solid var(--text-color);
    /* border-radius: 0.5rem; */
    padding: 0 4px;
    /* border: 2px solid #c4c4c5; */
    border: none;
    /* box-shadow: 0px 0px 8px -5px #000000 inset; */

    width: 100%;
}
.user-search-bar:focus + .search-icon {
    animation-name: slide-right;
    animation-duration: 0.5s;
    opacity: 0;
}
.user-search-bar:focus {
    outline: none;
    border-bottom: 1px solid #c4c4c5;
}
.search-bar-holder {
    position: relative;
}
.search-icon {
    position: absolute;
    left: 17px;
    top: 17px;
    transform: scale(0.8);
}

@keyframes slide-right {
    from {
        left: 17px;
        opacity: 1;
    }
    to {
        left: 70%;
        opacity: 0;
    }
}
