* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --background-color: #e9efff;
    --panel-color: white;
    --text-color: #313236;
    --weak-text-color: #aeb3bf;

    text-decoration: none;
    color: var(--text-color);

    font-family: "Poppins", sans-serif;
}
body {
    background-color: var(--background-color);
}
.App {
    /* text-align: center; */
}
.centered {
    max-width: 600px;
    margin: auto;
}
.panel {
    margin-top: 2vh;
    background-color: var(--panel-color);
    padding: 1rem;
    border-radius: 0.5rem;

    box-shadow: 0px 0px 9px -5px #000000;
}

@media screen and (max-width: 600px) {
    .centered {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
